{% extends 'index.html' %}
{% load static %}
{% block extra_css %}

{% endblock %}
{% block style %}
    <style>
        .blog_tag{
            border: 1px #ccc solid;
            border-radius: 10px;
            padding: 1em 0 0.5em 1em;
            overflow: hidden;
            margin-bottom: 1em;
        }
        .blog_tag1{
            border-bottom: 1px #ccc solid;
            padding: 1em 0 0.5em 1em;
        }
        .blog_tag2 label{
            display: inline-block;
            margin:1em 0 0.5em 1em;
        }
    </style>
{% endblock %}
{% block middle %}
                <!-- TOP ICONS -->
                <ul class="eskimo-top-icons">
                    <li id="eskimo-panel-icon">
                        <a href="#eskimo-panel" class="eskimo-panel-open"><i class="fa fa-bars"></i></a>
                    </li>
                    <li id="eskimo-search-icon">
                        <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- PAGE TITLE -->
                <div class="eskimo-page-title">
                    <h1 class="no-border">文章列表</h1>
                </div>

                <!--类别-->
                <div class="blog_tag">
                    <!--排序-->
                    <div class="blog_tag1">
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                发布日期
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">发布日期从远到近</a></li>
                                <li><a href="javascript:void(0);">发布日期从近到远 </a></li>
                            </ul>
                        </div>
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                阅读数
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">阅读数从多到少</a></li>
                                <li><a href="javascript:void(0);">阅读数从少到多</a></li>
                            </ul>
                        </div>
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                评论数
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">评论数从多到少</a></li>
                                <li><a href="javascript:void(0);">评论数从少到多</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--分类-->
                    <div class="blog_tag2">
                        <form role="form" method="get" action="{% url 'blog_list' %}" id="blog_list_form">
                            {% if request.session.user_uuid %}
                                {% if  'privacy' in tag_list %}
                                    <label class="checkbox-inline"  style="color: red">
                                        <input type="checkbox" checked="checked" class="b_tag" id="privacy" name="privacy" value="privacy"> 隐藏
                                    </label>
                                {% else %}
                                    <label class="checkbox-inline"  style="color: red">
                                        <input type="checkbox" class="b_tag" id="privacy" name="privacy" value="privacy"> 隐藏
                                    </label>
                                {% endif %}
                            {% endif %}

                            {% if 'recommend' in tag_list %}
                                <label class="checkbox-inline" style="color: red">
                                    <input type="checkbox" checked="checked" class="b_tag" id="checkbox_recommend" name="recommend" value="recommend"> 推荐
                                </label>
                            {% else %}
                                 <label class="checkbox-inline" style="color: red">
                                    <input type="checkbox" class="b_tag" id="checkbox_recommend" name="recommend" value="recommend"> 推荐
                                </label>
                            {% endif %}

                            <label class="checkbox-inline" style="color: red">
                                {% if "checkbox_all" in tag_list %}
                                    <input type="checkbox" checked="checked" id="checkbox_all" name="category" value="checkbox_all"> 全部
                                {% else %}
                                    <input type="checkbox" id="checkbox_all" name="category" value="checkbox_all"> 全部
                                {% endif %}
                            </label>

                            {% for i in category_list %}
                                <label class="checkbox-inline">
                                {% if i.id in tag_list %}
                                    <input type="checkbox" class="b_tag" checked="checked" id="check_tag{{ i.id }}" name="category" value="{{ i.id }}"> {{ i.name }}
                                {% else %}
                                    <input type="checkbox" class="b_tag"  id="check_tag{{ i.id }}" name="category" value="{{ i.id }}"> {{ i.name }}
                                {% endif %}
                                </label>
                            {% endfor %}
                        </form>
                    </div>

                </div>
                <!--类别-->

                <!-- BLOG POSTS -->
                <!-- POST 1 -->
                <div id="blog_list">
                {% for i in blog_list %}
                <div class="card card-horizontal">
                    <div class="card-body">
                        <div class="card-horizontal-left">
                            <div class="card-category">
                                <a href="javascript:void(0);">{{ i.category.name }}</a>
                            </div>
                            <h3 class="card-title"><a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a></h3>
                            <div class="card-excerpt">
                                <p>{{ i.content | safe | truncatechars:50 }}</p>
                            </div>
                            <div class="card-horizontal-meta">
                                <div class="eskimo-author-meta">
                                    By <a class="author-meta" href="javascript:void(0);">{{ i.article_user.nick_name }}</a>
                                </div>
                                <div class="eskimo-date-meta">
                                    <a href="javascript:void(0);">{{ i.create_time }}</a>
                                </div>
                                <div class="eskimo-reading-meta">阅读数: {{ i.read_num }}</div>
                            </div>
                        </div>
                        <div class="card-horizontal-right" data-img="{% static 'uploads/2018/05/blog18-1024x682.jpg' %}">
                            <a class="card-featured-img" href=href="/blog/{{ i.article_uuid }}.html"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
                <!-- PAGINATION -->
                <div class="eskimo-pager">
                    <ul class='pagination flex-wrap'>
                        {% for i in page_range %}
                            {% if i == page_num %}
                                <li class='page-item active'><a class='page-link' href='javascript:void(0);'>{{ i }}</a></li>
                            {% else %}
                                <li class='page-item'><a class='page-link' name="page_range" href='/blog/list.html?page_num={{ i }}'>{{ i }}</a></li>
                            {% endif %} 
                        {% endfor %}
                        
                        <li class='page-item'><a class='page-link' href='javascript:void(0);'>文章:{{ count_num }} /总页数: {{ all_page_num }}</a></li>
{#                        <li class='page-item'><a class='page-link' href="#"><i class="fa fa-chevron-right"></i></a></li>#}
                    </ul>
                </div>
                <div class="clearfix"></div>
            {% endblock %}
{% block extra_js_files %}
    <script src="{% static 'js/blog_list.js' %}"></script>
{% endblock %}
{% block js %}

{% endblock %}