{% extends 'index.html' %}
{% load static %}
{% block ext_css %}-->
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="stylesheet" href="{% static 'prism/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/emojione.sprites.css' %}">
    <link rel="stylesheet" href="{% static 'css/emojionearea-2.1.3.min.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/emojione/2.1.1/assets/sprites/emojione.sprites.css">-->
<!--    https://www.runoob.com/bootstrap/bootstrap-panels.html-->
{% endblock %}
{% block jumbotron %}
{% endblock %}
{% block middle %}
<!--    中间部分-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h1>{{ obj.article_title }}</h1>
                    </div>
                    <span>作者:{{ obj.article_user.nickname }}</span>
                    <span>类别:{{ obj.category.name }}</span>
                    <span>阅读:{{ obj.read_num }}</span>
                    <span>评论:</span>
                    <span>发布时间:{{ obj.create_time }}</span>
                    {% if obj.recommend %}
                        <span>已推荐</span>
                    {% else %}
                        <span>未推荐</span>
                    {% endif %}
                    {% if obj.recommend %}
                        <span>隐藏</span>
                    {% else %}
                        <span>公开</span>
                    {% endif %}
                </div>
                <div class="panel-body">
                    {{ obj.content | safe }}
                </div>
                <div class="panel-footer">
                    <p>上一篇:<a href="#">aaaaa</a></p>
                    <p>下一篇:<a href="#">bbbbb</a></p>
                </div>
            </div>
            <!--评论列表-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        评论列表
                    </h3>
                </div>
                <div class="panel-body">
                    {% for i in comment_list %}
                    <!--**********-->
                    <div class="comment_par">
                        <div class="comment_img">
                            <img src="{% static 'images/head_64x64.jpg' %}" alt="..." class="img-rounded img-responsive">
                            <p>{{ i.user.nick_name }}</p>
                        </div>
                        <div class="comment_tow">
                            <div class="comment_conent">
                                {{ i.text }}
                            </div>
<!--                            <div style="border-style:solid;border-bottom:thick dotted #ff0000;width: auto;">-->
<!--                                <span class="glyphicon glyphicon-time">2020.01.01</span>-->
<!--                                <span><a href="#">回复</a></span>-->
<!--                            </div>-->
                            <p align="right" class="comment_end">
                                <span class="glyphicon glyphicon-time">{{ i.create_time }}</span>
                                <span><a href="#">回复</a></span>
                            </p>
                            <!--reply-->
                            <ul class="comment_reply">
                                <li>
                                    <img src="{% static 'images/head_64x64.jpg' %}" alt="..." class="img-rounded img-responsive reply_head">
                                    <div class="reply_body">
                                        <p class="reply_name">回复姓名</p>
                                        <div>
                                            <p>
                                                测试回复
                                            </p>
                                        </div>
                                        <p  align="right" >
                                            <span class="glyphicon glyphicon-time">2020.01.01</span>
                                            <span><a href="#">回复</a></span>
                                        </p>
                                    </div>
                                </li>

                            </ul>
                            <!--ENDreply-->
                        </div>
                    </div>
                    <!--*********-->
                    {% endfor %}

                </div>
            </div>
            <!--END评论列表-->
            <!--发表评论-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        发表评论
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/comment/write/" method="post" id="comment_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="content_type" value="blogarticle">
                            <input type="hidden" name="object_uuid" value="{{ obj.article_uuid }}">
                            <textarea class="form-control" rows="3" name="comment_text" id="comment_text" placeholder="登陆后才能发布评论"></textarea>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success btn-lg">提交</button>
{#                            <button type="reset" class="btn btn-danger btn-lg">清空</button>#}
                        </div>
                    </form>
                </div>
            </div>
            <!--END发表评论-->
        </div>
    </div>
</div>
<!--    END中间部分-->

{% endblock %}
{% block ext_js %}
<script type="text/javascript" src="{% static 'js/emojione.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/emojionearea-2.1.3.min.js' %}"></script>
    <script src="{% static 'prism/lib/prism/prism_patched.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#comment_text").emojioneArea();

        $(".comment_conent").each(function(){
            var value = $(this).text();
            var code = $('<div/>').text(value).html(); //html转义

            $(this).html(emojione.toImage(code));
        });


        //获取内容
        // $('#get_text').click(function(){
        //     var e = $('#example')[0].emojioneArea;
        //     var text = e.getText();
        //     $("#test").text(text);
        // });

        //处理文本中的emoji字符
        //     $("#text2img").click(function(){
        //         var text = $("#test").text();
        //         var output = emojione.toImage(text);
        //         $("#test_img").html(output);
        //     });
    });
</script>
{% endblock %}