{% extends 'index.html' %}
{% load static %}
{% block middle %}
                <!-- SLIDER WITH ONE POST -->
                <div class="eskimo-carousel-container eskimo-bg-loader">
                    <div id="eskimo-post-slider" class="eskimo-slider">
                        <!-- SLIDE -->
                        <div>
                            <a class="eskimo-slider-img" href="#"></a>
                            <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                                <li>
                                    <a href="single-post.html"><span class="badge badge-default">May 28, 2018</span></a>
                                </li>
                                <li>
                                    <a href="category.html"><span class="badge badge-default">Food &amp; Drink</span></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <img src="{% static 'uploads/2018/05/blog4-1-1200x600.jpg' %}" alt="Ketchup Flavored Ice Cream!" />
                            <div class="eskimo-slider-desc">
                                <div class="eskimo-slider-desc-inner">
                                    <h2 class="card-title">Ketchup Flavored Ice Cream!</h2>
                                    <p>Mandaremus illum possumus ullamco e qui de nisi enim anim. Si nulla si nisi, veniam litteris sed excepteur ne ut amet deserunt tempor nam expetendis de enim mandaremus. Ita ea minim esse cillum ut eram arbitror ullamco. Tamen ad expetendis ab ipsum proident</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BLOG POSTS -->
                <div class="eskimo-masonry-grid">
                    <div class="eskimo-two-columns" data-columns>
                        <!-- POST 1 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog1-900x600.jpg' %}" alt="Hair You&#8217;ve Always Dreamed Of" />
                                    </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Lifestyle</a></span>
                                        </div>
                                        <h3 class="card-title"><a href="single-post.html">Hair You&#8217;ve Always Dreamed Of</a></h3>
                                        <p>Ex si esse deserunt, et dolore occaecat, singulis tamen e possumus voluptatibus, varias cernantur si aute quid. Noster vidisse iis exquisitaque, deserunt te irure. Ubi illum nostrud fidelissimae id occaecat duis probant. Occaecat hic quorum aliquip se&#8230;</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="eskimo-date-meta">
                                            <a href="single-post.html">May 27, 2018</a>
                                        </div>
                                        <div class="eskimo-reading-meta">3 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 2 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog-900x600.jpg' %}" alt="15 Of The World&#8217;s Best Carnivals" />
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Lifestyle</a>, <a href="category.html">Travel</a></span>
                                        </div>
                                        <h3 class="card-title"><a href="single-post.html">15 Of The World&#8217;s Best Carnivals</a></h3>
                                        <p>Aliquip e duis. Se labore ullamco excepteur iis ullamco sint duis laboris amet sed ita occaecat de cernantur quo fore coniunctione voluptate enim senserit. Si ut nulla laboris, an eiusmod e incididunt. Non varias enim duis singulis, a quorum cupidatat. Voluptate summis&#8230;</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="eskimo-date-meta">
                                            <a href="single-post.html">May 25, 2018</a>
                                        </div>
                                        <div class="eskimo-reading-meta">2 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 3 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog19-900x600.jpg' %}" alt="5 Ways to a Healthy Lifestyle" />
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Lifestyle</a></span>
                                        </div>
                                        <h3 class="card-title"><a href="single-post.html">5 Ways to a Healthy Lifestyle</a></h3>
                                        <p>Mandaremus veniam ab cupidatat exquisitaque, e quae laboris domesticarum, non sint mentitum fabulas de anim proident transferrem, ita aliqua imitarentur in in labore illum eram offendit, nisi fidelissimae possumus noster ullamco se eiusmod multos ex&#8230;</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="eskimo-date-meta">
                                            <a href="single-post.html">May 25, 2018</a>
                                        </div>
                                        <div class="eskimo-reading-meta">3 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 4 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog5-900x600.jpg' %}" alt="Best Breakfast In The World" />
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Food &amp; Drink</a>, <a href="category.html">Travel</a></span>
                                        </div>
                                        <h3 class="card-title"><a href="single-post.html">Best Breakfast In The World</a></h3>
                                        <p>Fabulas relinqueret aut quamquam. Lorem possumus pariatur ut quibusdam transferrem an tempor. E consequat nam senserit, aliquip tamen est commodo illustriora. An cillum sunt ut quamquam. Laboris culpa occaecat, quo fugiat dolore varias consequat&#8230;</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="eskimo-date-meta">
                                            <a href="single-post.html">May 23, 2018</a>
                                        </div>
                                        <div class="eskimo-reading-meta">3 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 5 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog18-900x600.jpg' %}" alt="Best and Worst Summer Foods" />
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Food &amp; Drink</a></span>
                                        </div>
                                        <h3 class="card-title"><a href="single-post.html">Best and Worst Summer Foods</a></h3>
                                        <p>Admodum comprehenderit id non cillum anim de appellat, ubi tamen singulis sempiternum, occaecat sunt appellat appellat ex varias an in quem laborum an si ita quid multos irure do excepteur culpa quamquam. Nam aliqua iudicem aliquip o sunt cupidatat&#8230;</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="eskimo-date-meta">
                                            <a href="single-post.html">May 22, 2018</a>
                                        </div>
                                        <div class="eskimo-reading-meta">3 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 6 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog7-900x600.jpg' %}" alt="What Is Perfect Training?" />
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Lifestyle</a></span>
                                        </div>
                                        <h3 class="card-title"><a href="single-post.html">What Is Perfect Training?</a></h3>
                                        <p>Non in familiaritatem, esse mentitum deserunt. Sunt excepteur quamquam. Enim ullamco consequat, nisi se singulis non fugiat. Nulla laboris tractavissent, tempor hic illum vidisse. Tempor qui noster incurreret, officia in ingeniis ubi in sunt arbitror ubi&#8230;</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="eskimo-date-meta">
                                            <a href="single-post.html">May 21, 2018</a>
                                        </div>
                                        <div class="eskimo-reading-meta">2 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- VIEW ALL BUTTON -->
                <div class="eskimo-view-more">
                    <a class="btn btn-default" href="blog.html">VIEW ALL POSTS</a>
                </div>

                <!-- DIVIDER -->
                <hr class="section-divider" />

                <!-- CAROUSEL -->
                <div class="eskimo-widget-title">
                    <h3 class="eskimo-carousel-title"><span>POPULAR POSTS</span></h3>
                </div>

                <div class="eskimo-carousel-container">
                    <div class="eskimo-carousel-view-more">
                        <a href="blog.html">VIEW ALL</a>
                    </div>

                    <div id="eskimo-post-carousel" class="eskimo-carousel">
                        <!-- CAROUSEL ITEM 1 -->
                        <div>
                            <div class="card-masonry card-small">
                                <div class="card">
                                    <a href="single-post.html">
                                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog11-900x600.jpg' %}" alt="Ketchup Flavored Ice Cream!" />
                                    </a>
                                    <div class="card-border">
                                        <div class="card-body">
                                            <div class="card-category">
                                                <a href="single-post.html">May 28, 2018</a>
                                            </div>
                                            <h5 class="card-title"><a href="single-post.html">Ketchup Flavored Ice Cream!</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CAROUSEL ITEM 2 -->
                        <div>
                            <div class="card-masonry card-small">
                                <div class="card">
                                    <a href="single-post.html">
                                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog9-900x600.jpg' %}" alt="Hair You've Always Dreamed Of" />
                                    </a>
                                    <div class="card-border">
                                        <div class="card-body">
                                            <div class="card-category">
                                                <a href="single-post.html">May 27, 2018</a>
                                            </div>
                                            <h5 class="card-title"><a href="single-post.html">Hair You've Always Dreamed Of</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CAROUSEL ITEM 3 -->
                        <div>
                            <div class="card-masonry card-small">
                                <div class="card">
                                    <a href="single-post.html">
                                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog12-900x600.jpg' %}" alt="15 Of The World's Best Carnivals" />
                                    </a>
                                    <div class="card-border">
                                        <div class="card-body">
                                            <div class="card-category">
                                                <a href="single-post.html">May 25, 2018</a>
                                            </div>
                                            <h5 class="card-title"><a href="single-post.html">15 Of The World's Best Carnivals</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CAROUSEL ITEM 4 -->
                        <div>
                            <div class="card-masonry card-small">
                                <div class="card">
                                    <a href="single-post.html">
                                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog19-900x600.jpg' %}" alt="5 Ways to a Healthy Lifestyle" />
                                    </a>
                                    <div class="card-border">
                                        <div class="card-body">
                                            <div class="card-category">
                                                <a href="single-post.html">May 25, 2018</a>
                                            </div>
                                            <h5 class="card-title"><a href="single-post.html">5 Ways to a Healthy Lifestyle</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CAROUSEL ITEM 5 -->
                        <div>
                            <div class="card-masonry card-small">
                                <div class="card">
                                    <a href="single-post.html">
                                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog5-900x600.jpg' %}" alt="Best Breakfast In The World" />
                                    </a>
                                    <div class="card-border">
                                        <div class="card-body">
                                            <div class="card-category">
                                                <a href="single-post.html">May 23, 2018</a>
                                            </div>
                                            <h5 class="card-title"><a href="single-post.html">Best Breakfast In The World</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    {% endblock %}
