{% extends 'index.html' %}
{% load static %}
{% block middle %}
                <!-- TOP ICONS -->
                <ul class="eskimo-top-icons">
                    <li id="eskimo-panel-icon">
                        <a href="#eskimo-panel" class="eskimo-panel-open"><i class="fa fa-bars"></i></a>
                    </li>
                    <li id="eskimo-search-icon">
                        <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="row">
                    <!-- BLOG POSTS -->
                    <div class="col-12 col-lg-7">
                        <div class="eskimo-masonry-grid">
                            <div class="eskimo-one-column" data-columns>
                                <!-- POST 1 -->
{#                                <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog4-1-900x600.jpg' %}" alt="Ketchup Flavored Ice Cream!" />#}
{#                                <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog1-900x600.jpg' %}" alt="Hair You've Always Dreamed Of" />#}
{#                                <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog-900x600.jpg' %}" alt="15 Of The World's Best Carnivals" />#}
{#                                <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog19-900x600.jpg' %}" alt="5 Ways to a Healthy Lifestyle" />#}
                                {% for i in blog_list %}
                                    <div class="card-masonry">
                                        <div class="card">
                                            <a href="details.html">
                                                <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog19-900x600.jpg' %}" alt="Best Breakfast In The World" />
                                            </a>
                                            <div class="card-border">
                                                <div class="card-body">
                                                    <div class="card-category">
                                                        <span><a href="javascript:void(0);">{{ i.category.name }}</a></span>
                                                    </div>
                                                    <h3 class="card-title">
                                                        <a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a>
                                                    </h3>
                                                    <p>{{ i.content | safe | truncatechars:50 }}</p>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="eskimo-author-meta">
                                                        By <a class="author-meta" href="javascript:void(0);">{{ i.article_user.nick_name }}</a>
                                                    </div>
                                                    <div class="eskimo-date-meta">
                                                        <a href="javascript:void(0);">{{ i.create_time }}</a>
                                                    </div>
                                                    <div class="eskimo-reading-meta">阅读数: {{ i.read_num }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- VIEW ALL BUTTON -->
                        <div class="eskimo-view-more mb-5">
                            <a class="btn btn-default" href="blog.html">VIEW ALL</a>
                        </div>
                    </div>
                    <!-- SIDEBAR -->
                    <div class="col-12 col-lg-5">
                        <!-- AUTHOR BOX -->
                        <div class="eskimo-author-box eskimo-add-border eskimo-widget">
                            <div class="eskimo-author-img">
                                <img src="{% static 'uploads/2018/05/img.jpg' %}" alt="JOHN DOE" />
                            </div>
                            {% if request.session.user_uuid %}
                                <a href="#" class="eskimo-author-subtitle"><h3><span>你好,{{ request.blog_user.nick_name }}</span></h3></a>
                                <a  id="logout_btn" class="btn btn-default" href="{% url 'logout' %}" >退出</a>
                            {% else %}
                            <a href="{% url 'register.html' %}" class="eskimo-author-subtitle"><h3><span>注册通道</span></h3></a>

                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="eskimo-author-box-btn">
                                    <input type="text" name="username" id="username" placeholder="用户名">
                                </div>
                                <p class="eskimo-author-description"></p>
                                <div class="eskimo-author-box-btn">
                                    <input type="password" name="password" id="password" placeholder="密码">
                                </div>
                                <span class="eskimo-author-description login_prompt" id="login_prompt"></span>
                                <p class="eskimo-author-description" id="login_prompt"></p>
                                <div class="eskimo-author-box-btn">
                                <button type="button" id="login_btn" class="btn btn-default" >登录</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                        <!-- CATEGORIES -->
                        <div class="eskimo-categories eskimo-widget">
                            <h5 class="eskimo-title-with-border"><span>分类</span></h5>
                            <ul>
                                {% for i in category_list %}
                                    <li>
                                        <a href="/blog/list.html?tag={{ i.id }}" title="The best restaurants, cafes, bars and shops in town.">{{ i.name }}</a> <span class="badge badge-pill badge-default">{{ i.tag_num }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- POPULAR POSTS -->
                        <div class="eskimo-post-list-wrapper eskimo-widget">
                            <h5 class="eskimo-title-with-border"><span>热门文章</span></h5>
                            <!-- POST 1 -->
                            {% for i in popular_list %}
                            <div class="eskimo-post-list">
                                <div class="eskimo-post-list-left">
                                    <a href="/blog/{{ i.article_uuid }}.html">
                                        <img src="{% static 'uploads/2018/05/blog19-150x150.jpg' %}" alt="5 Ways to a Healthy Lifestyle" />
                                    </a>
                                </div>
                                <div class="eskimo-post-list-right">
                                    <p class="eskimo-post-list-title">
                                        <a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a>
                                    </p>
                                    <div class="eskimo-post-list-info">
                                        <i class="fa fa-clock-o"></i><a href="/blog/{{ i.article_uuid }}.html">{{ i.create_time }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
{#                            <img src="{% static 'uploads/2018/05/blog17-150x150.jpg' %}" alt="The Best Cameras For Beginners" />#}
{#                            <img src="{% static 'uploads/2018/05/blog13-150x150.jpg' %}" alt="Can Technology Make You Happy?" />#}
{#                            <img src="{% static 'uploads/2018/05/blog14-150x150.jpg' %}" alt="5 Best Coffee Shops In Paris" />#}
{#                            <img src="{% static 'uploads/2018/05/blog8-150x150.jpg' %}" alt="Eyes Wide Shut Is A Classic" />#}
{#                            <img src="{% static 'uploads/2018/05/blog6-150x150.jpg' %}" alt="Headphones For Music Lovers" />#}
{#                            <img src="{% static 'uploads/2018/05/blog4-1-150x150.jpg' %}" alt="Ketchup Flavored Ice Cream!" />#}
{#                            <img src="{% static 'uploads/2018/05/blog2-150x150.jpg' %}" alt="The Best Tea Houses in Japan" />#}
{#                            <img src="{% static 'uploads/2018/05/blog16-150x150.jpg' %}" alt="Why India's cinemas are changing" />#}
{#                            <img src="{% static 'uploads/2018/05/blog15-150x150.jpg' %}" alt="How To Design A Minimalist Garden" />#}

                        </div>  
                        <!-- BANNER -->
                        <div class="eskimo-widget">
                            <a href="http://www.bootstrapmb.com/portfolio">	
                                <img src="{% static 'uploads/2018/05/banner.png' %}" alt="banner" class="img-fluid mx-auto d-block" />
                            </a>
                        </div>
                        <!-- TAGS -->
                        <div class="eskimo-widget">
                            <h5 class="eskimo-title-with-border"><span>Tags</span></h5>
                            <div class="eskimo-tag-cloud">
                                <a href="javascript:void(0);">aute<span>7</span></a>
                                <a href="javascript:void(0);">enim<span>7</span></a>
                                <a href="javascript:void(0);">commodo<span>7</span></a>
                                <a href="javascript:void(0);">voluptatibus<span>7</span></a>
                                <a href="javascript:void(0);">culpa<span>7</span></a>
                                <a href="javascript:void(0);">offendit<span>7</span></a>
                                <a href="javascript:void(0);">magna<span>7</span></a>
                                <a href="javascript:void(0);">quorum<span>7</span></a>
                                <a href="javascript:void(0);">mandaremus<span>7</span></a>
                                <a href="javascript:void(0);">ingeniis<span>7</span></a>
                                <a href="javascript:void(0);">tempor<span>7</span></a>
                                <a href="javascript:void(0);">summis<span>7</span></a>
                                <a href="javascript:void(0);">consequat<span>6</span></a>
                                <a href="javascript:void(0);">iudicem<span>6</span></a>
                                <a href="javascript:void(0);">expetendis<span>6</span></a>
                                <a href="javascript:void(0);">deserunt<span>6</span></a>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block js %}
{% endblock %}