{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% block title  %}<title>张老三的鞋柜</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/clear_default_style.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
    {% block ext_css %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    <!--    导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span>&nbsp张老三的鞋柜</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'blog_list' %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp博客列表 <span class="sr-only">(current)</span></a></li>
<!--                    <li><a href="#">博客分类</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book"></span>&nbsp博客分类 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
{#                            {% for i in one_category_list %}#}
{#                                <li><a ole="presentation" class="dropdown-header" href="/blog/list.html?tag={{ i.id }}">{{ i.name }}</a></li>#}
                                {% for j in tow_category_list %}
                                    <li><a href="/blog/list.html?tag={{ j.id }}">{{ j.name }}</a></li>
                                {% endfor %}
{#                                <li role="separator" class="divider"></li>#}
{#                            {% endfor %}#}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.session.user_uuid %}
                    <li><a href="{% url 'register.html' %}"><span class="glyphicon glyphicon-user"></span> {{ request.session.user_uuid }}</a></li>
                    <li><a href="{% url 'register.html' %}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="{% url 'login.html' %}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.blog_user.nick_name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心{{ request.session.user_uuid }}</a></li>
                            <li><a href="write.html">写博客</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">退出</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--    END导航栏-->
    {% endblock %}
    {% block jumbotron %}
    <!--    巨幕-->
    <div class="jumbotron">
        <div class="container">
            <br>
            <h1>欢迎来到张老三的鞋柜(Blog)！</h1>
            <p>这是一个无聊时期练手的作品。</p>
<!--        <p><a class="btn btn-primary btn-lg" role="button">-->
<!--                   学习更多</a>-->
<!--         </p>-->
        </div>
    </div>
    <!--    END巨幕-->
    {% endblock %}
    {% block middle %}
    <!--    中间部分-->
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xm-12">
                <h3>博客分类</h3><p>共{{ blog_count }}篇 <a href="{% url 'blog_list' %}">>></a></p>
                <hr/>
                <ul class="tag_list">
                    {% for i in tow_category_list %}
                        <li><a href="/blog/list.html?tag={{ i.id }}">{{ i.name }}</a></li>

                    {% endfor %}

                </ul>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xm-12">
                <ul class="nav nav-pills nav-justified">
                    <li class="active" role="presentation"><a href="#official_account" aria-controls="official_account" role="tab" data-toggle="tab">公众号</a></li>
                    <li role="presentation"><a href="#month_read_chart" aria-controls="month_read_chart" role="tab" data-toggle="tab">月榜单图</a></li>
<!--                    <li role="presentation" class="disabled"><a href="#">iOS（禁用链接）</a></li>-->
                    <li role="presentation"><a href="#all_read_chart" aria-controls="all_read_chart" role="tab" data-toggle="tab">总榜单图</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="official_account"><p>公众号暂无待补</p></div>
                    <div role="tabpanel" class="tab-pane fade" id="month_read_chart">月榜单暂无待补</div>
                    <div role="tabpanel" class="tab-pane fade" id="all_read_chart">总榜单暂无待补</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12  col-xm-12">
                <h3>最新发布</h3>
                <hr/>
                <ul class="tag_list">
                    {% for i in newest_list %}
                        <li><a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12  col-xm-12">
                <h3>最新推荐</h3>
                <hr/>
                <ul class="tag_list">
                    {% for i in recommend_list %}
                        <li><a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12  col-xm-12">
                <h3>阅读排行</h3>
                <hr/>
                <ul class="tag_list">
                    {% for i in popular_list %}
                        <li><a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--    END中间部分-->
    {% endblock %}
    {% block footer %}
    <!--    页脚-->
    <hr/>
    <div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12  col-xm-12">
            <h4>关于本站</h4>
            <hr/>
            <ul class="tag_list">
                <li><p>1、基于Django+Bootstrap开发</p></li>
                <li><p>2、主要发表本人生活博客</p></li>
                <li><p>2、>备案号：京ICP备18011252号-1</p></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12  col-xm-12">
            <h4>建议反馈</h4>
            <hr/>
            <ul class="tag_list">
                <li><p>1、可在相应的博文底下评论</p></li>

            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12  col-xm-12">
            <h4>友情链接</h4>
            <hr/>
            <ul class="tag_list">
                <li><p>1、可在相应的博文底下评论</p></li>
                <li><p>2、备案号</p></li>
            </ul>
        </div>
    </div>
    </div>
    <!--    END页脚-->
    {% endblock %}
</body>
    {% block js_files %}
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block ext_js %}
    {% endblock %}
</html>
