{% extends 'index.html' %}
{% load static %}
{% block middle %}
                <!-- SLIDER WITH ONE POST -->
                <div class="eskimo-carousel-container eskimo-bg-loader">
                    <div id="eskimo-post-slider" class="eskimo-slider">
                        <!-- SLIDE -->
                        <div>
                            <a class="eskimo-slider-img" href="#"></a>
                            <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                                <li>
                                    <a href="details.html"><span class="badge badge-default">May 28, 2018</span></a>
                                </li>
                                <li>
                                    <a href="category.html"><span class="badge badge-default">Food &amp; Drink</span></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <img src="{% static 'uploads/2018/05/blog4-1-1200x600.jpg' %}" alt="Ketchup Flavored Ice Cream!" />
                            <div class="eskimo-slider-desc">
                                <div class="eskimo-slider-desc-inner">
                                    <h2 class="card-title">Ketchup Flavored Ice Cream!</h2>
                                    <p>Mandaremus illum possumus ullamco e qui de nisi enim anim. Si nulla si nisi, veniam litteris sed excepteur ne ut amet deserunt tempor nam expetendis de enim mandaremus. Ita ea minim esse cillum ut eram arbitror ullamco. Tamen ad expetendis ab ipsum proident</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BLOG POSTS -->
                <div class="eskimo-masonry-grid">
                    <div class="eskimo-two-columns" data-columns>
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog1-900x600.jpg' %}" alt="Hair You&#8217;ve Always Dreamed Of" />#}
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog-900x600.jpg' %}" alt="15 Of The World&#8217;s Best Carnivals" />#}
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog19-900x600.jpg' %}" alt="5 Ways to a Healthy Lifestyle" />#}
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog18-900x600.jpg' %}" alt="Best and Worst Summer Foods" />#}
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog7-900x600.jpg' %}" alt="What Is Perfect Training?" />#}
                        {% for i in blog_list %}
                        <div class="card-masonry">
                            <div class="card">
                                <a href="details.html">
                                    <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog5-900x600.jpg' %}" alt="Best Breakfast In The World" />
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="javascript:void(0);">{{ i.category.name }}</a></span>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a>
                                        </h3>
                                        <p>{{ i.content | safe | truncatechars:50 }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="eskimo-author-meta">
                                            By <a class="author-meta" href="javascript:void(0);">{{ i.article_user.nick_name }}</a>
                                        </div>
                                        <div class="eskimo-date-meta">
                                            <a href="javascript:void(0);">{{ i.create_time }}</a>
                                        </div>
                                        <div class="eskimo-reading-meta">阅读数: {{ i.read_num }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- VIEW ALL BUTTON -->
                <div class="eskimo-view-more">
                    <a class="btn btn-default" href="blog.html">VIEW ALL POSTS</a>
                </div>

                <!-- DIVIDER -->
                <hr class="section-divider" />

                <!-- CAROUSEL -->
                <div class="eskimo-widget-title">
                    <h3 class="eskimo-carousel-title"><span>热门文章</span></h3>
                </div>

                <div class="eskimo-carousel-container">
                    <div class="eskimo-carousel-view-more">
                        <a href="blog.html">VIEW ALL</a>
                    </div>

                    <div id="eskimo-post-carousel" class="eskimo-carousel">
                        {% for i in popular_list %}
                            <div>
                                <div class="card-masonry card-small">
                                    <div class="card">
                                        <a href="/blog/{{ i.article_uuid }}.html">
                                            <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog12-900x600.jpg' %}" alt="5 Ways to a Healthy Lifestyle" />
                                        </a>
                                        <div class="card-border">
                                            <div class="card-body">
                                                <div class="card-category">
                                                    <a href="/blog/{{ i.article_uuid }}.html">{{ i.create_time }}</a>
                                                </div>
                                                <h5 class="card-title"><a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- CAROUSEL ITEM 1 -->
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog11-900x600.jpg' %}" alt="Ketchup Flavored Ice Cream!" />#}
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog9-900x600.jpg' %}" alt="Hair You've Always Dreamed Of" />#}
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog19-900x600.jpg' %}" alt="5 Ways to a Healthy Lifestyle" />#}
{#                        <img class="card-vertical-img" src="{% static 'uploads/2018/05/blog5-900x600.jpg' %}" alt="Best Breakfast In The World" />#}
                    </div>
                </div>
    {% endblock %}
