{% extends 'index.html' %}
{% load static %}
{% block ext_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog_list.css' %}"/>
    {% endblock %}
{% block middle %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 blog_tag">
            <div class="">
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        发布日期
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">发布日期从远到近</a></li>
                        <li><a href="javascript:void(0);">发布日期从近到远 </a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        阅读数
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">阅读数从多到少</a></li>
                        <li><a href="javascript:void(0);">阅读数从少到多</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        评论数
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">评论数从多到少</a></li>
                        <li><a href="javascript:void(0);">评论数从少到多</a></li>
                    </ul>
                </div>
                <span>排序：发布日期从近到远</span>
            </div>
            <hr/>
            <!--分类-->
            <div>
                <form role="form" method="get" action="{% url 'blog_list' %}" id="blog_list_form">

                    <label class="checkbox-inline label_tag"  style="color: red">
                        {% if "privacy" in tag_list %}
                            <input type="checkbox" checked="checked" class="b_tag" id="privacy" name="privacy" value="privacy"> 隐藏
                        {% else %}
                            <input type="checkbox" class="b_tag" id="privacy" name="privacy" value="privacy"> 隐藏
                        {% endif %}

                    </label>
                    <label class="checkbox-inline label_tag" style="color: red">
                        {% if "recommend" in tag_list %}
                            <input type="checkbox" checked="checked" class="b_tag" id="checkbox_recommend" name="recommend" value="recommend"> 推荐
                        {% else %}
                            <input type="checkbox" class="b_tag" id="checkbox_recommend" name="recommend" value="recommend"> 推荐
                        {% endif %}
                    </label>

                    <label class="checkbox-inline label_tag" style="color: red">
                        {% if "checkbox_all" in tag_list %}
                            <input type="checkbox" checked="checked" id="checkbox_all" name="category" value="checkbox_all"> 全部
                        {% else %}
                            <input type="checkbox" id="checkbox_all" name="category" value="checkbox_all"> 全部
                        {% endif %}
                    </label>
                    {% for i in category_list %}
                        <label class="checkbox-inline label_tag">
                        {% if i.id in tag_list %}
                            <input type="checkbox" class="b_tag" checked="checked" id="check_tag{{ i.id }}" name="category" value="{{ i.id }}"> {{ i.name }}
                        {% else %}
                            <input type="checkbox" class="b_tag" id="check_tag{{ i.id }}" name="category" value="{{ i.id }}"> {{ i.name }}
                        {% endif %}
                        </label>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        {% for i in blog_list %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 article_list">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-8 col-xm-12 title_div">
                    <div>
                        <span class="label label-info">{{ i.category.name }}</span>
                    </div>
                    <div>
                        <h3><a href="/blog/{{ i.article_uuid }}.html">{{ i.article_title }}</a></h3>
                    </div>
                    <div>
                        <p>{{ i.content | safe | truncatewords:80 }}</p>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-time">{{ i.create_time }}</span>
                        <span>用户：{{ i.article_user.nick_name }}</span>
                        <span>阅读数：{{ i.read_num }}</span>
                        <span>评论：</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xm-12 img_div">
                    <img src="{% static 'images/blog18-900x600.jpg' %}" alt="..." class="img-rounded img-responsive">
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <!-- PAGINATION -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xm-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
            <div class=" pages">
                <ul class="pagination pagination-lg">
                    {% for i in page_range %}
                        {% if i == page_num %}
                            <li class='page-item active'><a class='page-link' href='javascript:void(0);'>{{ i }}</a></li>
                        {% else %}
                            <li class='page-item'><a class='page-link' name="page_range" href='/blog/list.html?page_num={{ i }}'>{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class='page-item'><a class='page-link' href='javascript:void(0);'>文章:{{ count_num }} /总页数: {{ all_page_num }}</a></li>

{#                    <li><a href="#">&laquo;</a></li>#}
{#                    <li><a href="#">1</a></li>#}
{#                    <li><a href="#">2</a></li>#}
{#                    <li><a href="#">3</a></li>#}
{#                    <li><a href="#">4</a></li>#}
{#                    <li><a href="#">5</a></li>#}
{#                    <li><a href="#">&raquo;</a></li>#}
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block ext_js %}
    <script src="{% static 'js/blog_list.js' %}"></script>
{% endblock %}